# Azure Speech Service Configuration
AZURE_SPEECH_API_KEY=
AZURE_SPEECH_REGION=

# Azure Storage Configuration
AZURE_STORAGE_CONNECTION_STRING=

AZURE_STORAGE_CONTAINER=
DEEPGRAM_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=
UPLOAD_TO_AZURE_STORAGE=false
RUN_AZURE_TTS=true
RUN_DEEPGRAM_TTS=true
RUN_OPENAI_TTS=true